/*
=========
Scrollbar
=========
*/
:root {
  scroll-behavior: smooth;
  /* Scroll for Firefox */
  scrollbar-color: var(--body-bg-colour) var(--secondary-bg-colour);
  scroll-padding-top: 3.5rem;
}

:target {
  outline: 1px solid var(--primary-colour);
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background-color: var(--body-bg-colour);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-bg-colour);
}

::-webkit-scrollbar-button {
  display: none;
}

/*
==========
Components
==========
*/
.button {
  text-align: center;
  background-color: var(--primary-colour);
  color: var(--body-bg-colour);
  padding: 0.5em 2em;
  border-radius: 0.4em;
  font-weight: 600;
  text-decoration-line: none;
}
.button:hover {
  animation: shadow-inset-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.button--reverse {
  color: var(--primary-colour);
  background-color: transparent;
  border: 1px solid;
}

.tag {
  background-color: var(--primary-colour);
  color: var(--body-bg-colour);
  border-radius: 1em;
  padding: 0.2em 0.8em;
  font-weight: 900;
  font-size: 0.625rem;
}

.switcher {
  border-width: 0;
  transition: box-shadow 0.5s;
}
.switcher:hover, .switcher:active {
  box-shadow: 0 0 6px var(--txt-colour);
}

@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0;
  }
  100% {
    box-shadow: inset 0 0 14px 0px;
  }
}
.icon {
  display: inline-block;
  width: 2em;
  height: 2em;
  z-index: 1;
}
.icon::before {
  display: block;
}
.icon--html::before {
  content: url(../assets/images/icons/html.svg);
}
.icon--css::before {
  content: url(../assets/images/icons/css.svg);
}
.icon--javascript::before {
  content: url(../assets/images/icons/javascript.svg);
}
.icon--linkedin::before {
  content: url(../assets/images/icons/linkedin.svg);
}
.icon--github::before {
  content: url(../assets/images/icons/github.svg);
}
.icon--git::before {
  content: url(../assets/images/icons/git.svg);
}
.icon--sass::before {
  content: url(../assets/images/icons/sass.svg);
}
.icon--sun::before {
  content: url(../assets/images/icons/sun.svg);
}
.icon--moon::before {
  content: url(../assets/images/icons/moon.svg);
}
.icon--menu::before {
  content: url(../assets/images/icons/menu.svg);
}

/* 
======
Header
======
*/
.header {
  display: flex;
  align-items: center;
  padding-right: min(2%, 2em);
  padding-left: min(2%, 2em);
  min-height: 3rem;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  font-size: clamp(0.7rem, 3.2vw + 0.1rem, 1rem);
  background-color: var(--secondary-bg-colour);
}
.header__switcher {
  border-radius: 50%;
  border-width: 0;
}
.header__switcher:hover {
  box-shadow: 0 0 5px var(--txt-colour);
  animation: rotate 2s infinite;
}
.header__navbar {
  margin-left: auto;
}
.header__list {
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  column-gap: 2em;
}
.header__item {
  list-style-type: none;
}
.header__link {
  font-weight: 600;
  text-decoration-line: none;
}
.header__link:hover {
  text-decoration-line: underline;
  text-decoration-color: var(--primary-colour);
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}
/* 
=================
Developer Profile
=================
*/
.dev {
  border-radius: 0.5em;
  background-color: var(--secondary-bg-colour);
  overflow: hidden;
}
.dev .dev__title {
  font-size: inherit;
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: -1px -1px var(--primary-colour);
}
.dev .dev__title .dev__position {
  display: block;
}
.dev .dev__container {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dev .dev__address {
  display: flex;
  flex-direction: column;
}
.dev .dev__link {
  display: block;
  text-decoration-line: none;
}
.dev .dev__body {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  column-gap: 1em;
}
.dev .dev__image {
  max-height: 6rem;
  max-width: 6rem;
  border-radius: 50%;
  object-fit: contain;
}
.dev .dev__skills {
  display: flex;
  justify-content: space-around;
}
.dev .dev__skill {
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: var(--primary-colour);
  cursor: help;
}
.dev .dev__actions {
  display: flex;
  justify-content: center;
  background-color: var(--primary-colour);
}

.experience .job {
  border-radius: 0.5em;
  background-color: var(--secondary-bg-colour);
  padding: 1em;
}
.experience .job__header {
  display: flex;
}
.experience .job__image {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

/* 
=============
Projects area
=============
*/
.projects .project {
  border-radius: 0.5em;
  background-color: var(--secondary-bg-colour);
  padding: 1em;
}
.projects .project__actions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 1em;
}
.projects .project + .project {
  margin-top: 1em;
}

@media only screen and (min-width: 1070px) {
  .project {
    display: flex;
    gap: 1em;
    flex-basis: 45%;
  }
  .project__body {
    flex-grow: 1;
  }
  .project__image {
    max-width: 25rem;
  }
}
.footer {
  min-height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-bg-colour);
  color: #999;
  margin-top: 1em;
}

/*
=============
Content table
=============

- Global styles
- Scrollbar
- Typography
- Components
- Header
- Main
- Projects area
- Experience
- Developer profile
- Footer
*/
/*
=============
Global styles
=============
*/
:root {
  box-sizing: border-box;
  --txt-colour: #d4d4d4;
  --body-bg-colour: #262626;
  --secondary-bg-colour: #333;
  --primary-colour: #ff935d;
  --title-font: "Comfortaa", cursive;
  --txt-font: "Poppins", sans-serif;
  /* Minimum size 1 rem at a viewport width of 1500px.
   Maximum size 2 rem at a viewport width of 2800px. */
  font-size: clamp(1rem, 1.2vw - 0.2rem, 2rem);
}
:root[light-theme] {
  --txt-colour: #000;
  --body-bg-colour: #fff;
  --secondary-bg-colour: #ebebeb;
}

*,
::before,
::after {
  box-sizing: inherit;
}

::selection {
  color: var(--body-bg-colour);
  background-color: var(--txt-colour);
}

:focus-visible {
  outline: 3px dotted var(--txt-colour);
}

body {
  background-color: var(--body-bg-colour);
  color: var(--txt-colour);
  font-family: var(--txt-font);
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

h2 {
  text-align: center;
}

a {
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}

.main {
  padding: 1em 1em 0;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1070px) {
  .main {
    max-width: unset;
    display: grid;
    grid-template-columns: 3fr 7fr;
    column-gap: 2em;
  }
}

/*# sourceMappingURL=portfolio.css.map */
