/* 
=================
Developer Profile
=================
*/

.dev {
    border-radius: 0.5em;
    background-color: var(--secondary-bg-colour);
    overflow: hidden;

    .dev__title {
        font-size: inherit;
        margin-top: 0;
        margin-bottom: 0;
        text-shadow: -1px -1px var(--primary-colour);
        .dev__position{
            display: block;
        }
    }

    .dev__container {
        font-size: 0.9rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dev__address {
        display: flex;
        flex-direction: column;
    }

    .dev__link {
        display: block;
        text-decoration-line: none;
    }

    .dev__body {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
        column-gap: 1em;
    }

    .dev__image {
        max-height: 6rem;
        max-width: 6rem;
        border-radius: 50%;
        object-fit: contain;
    }

    .dev__skills {
        display: flex;
        justify-content: space-around;
    }
    
    .dev__skill {
        border-bottom-left-radius: 25%;
        border-bottom-right-radius: 25%;
        background-color: var(--primary-colour);
        cursor: help;
    }

    .dev__actions {
        display: flex;
        justify-content: center;
        background-color: var(--primary-colour);
    }
}
