.header {
    display: flex;
    align-items: center;
    padding-right: min(2%, 2em);
    padding-left: min(2%, 2em);
    min-height: 3rem;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    background-color: var(--secondary-bg-colour);

    &__switcher {
        border-radius: 50%;
        border-width: 0;
    }

    &__navbar {
        margin-left: auto;
    }

    &__list {
        display: flex;
        justify-content: space-around;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        column-gap: 2em;
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        font-weight: 600;
        text-decoration-line: none;
        position: relative;
        &::before {
            height: 0.016em;
            content: "";
            right: 0;
            left: 0;
            bottom: 0;
            position: absolute;
            background-color: var(--primary-colour);
            transform: scaleX(0);
            transition: transform 400ms;
        }
        &:hover::before {
            transform: scaleX(1);
        }
    }
}

@keyframes rotate {
    to {
        transform: rotateZ(360deg);
    }
}
