.projects{
    display: grid;
    row-gap: 1em;
}

.project {
    border-radius: 0.5em;
    background-color: var(--secondary-bg-colour);
    padding: 1em;

    &__actions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 1em;
    }
}

@media only screen and (min-width: 1070px) {
    .project {
        display: flex;
        gap: 1em;
        flex-basis: 45%;
        &__body {
            flex-grow: 1;
        }

        &__image {
            max-width: 25rem;
        }
    }
}
