/*
=========
Scrollbar
=========
*/

:root {
    scroll-behavior: smooth;
    /* Scroll for Firefox */
    scrollbar-color: var(--body-bg-colour) var(--secondary-bg-colour);
    scroll-padding-top: 3.5rem;
}

:target {
    outline: 1px solid var(--primary-colour);
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    background-color: var(--body-bg-colour);
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-bg-colour);
}

::-webkit-scrollbar-button {
    display: none;
}
