.main {
	padding: 1em;
	max-width: 31.25em;
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (min-width: 1070px) {
	.main {
		max-width: unset;
		display: grid;
		grid-template-columns: 3fr 7fr;
		column-gap: 2em;
	}
}

/* .dev__skill,
.dev__actions,
.tag,
.button {
	transition: --primary-colour 2s linear;
}
 */
