<section class="experience" id="experience">
	<header class="experience__header">
		<img src="/assets/images/codesociety.png" alt="Code Society" class="experience__image" decoding="async"/>
		<h3 class="experience__title">Frontend Developer</h3>
	</header>
	<div class="experience__tag-list">
		<span class="experience__tag tag">HTML</span>
		<span class="experience__tag tag">CSS</span>
		<span class="experience__tag tag">JavaScript</span>
	</div>
	<p class="experience__text">I worked with HTML, CSS and JS. It was an amazing experience... I learnt a lot with that team and I will not forget that experience.</p>
</section>

<style lang="scss">
	.experience {
		border-radius: 0.5em;
		background-color: var(--secondary-bg-colour);
		padding: 1em;
		&__image {
			border-radius: 50%;
			width: 3rem;
			height: 3rem;
			object-fit: cover;
			vertical-align: middle;
		}
		&__title{
			display: inline-block;   
		}
	}
</style>